Package: com.twodayslate.twiaccountname
Name: twiaccountname
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Add username to navigation titles
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
